body {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #C6E1F1;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

#titulo{
    margin-top: 3rem;
    text-align: left;
    font-family: 'Rock Salt', cursive;
}
#logo{
  width: 3rem;
  height: 3rem;
  display: inline-block;
}
#logo2{
    width: 8rem;
    height: 8rem;
    display: inline-block;
  }
.carousel-item h5{
    color: #f8ae4ede; 
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 60px;
    font-weight: bold;
}
.carousel-item p{
    color: #e2a350; 
    text-shadow: black 0.2em 0.2em 0.3em;
    font-size: 22px;
}
#imagenCarousel{
    border: 1rem solid #E4BCD4;
    border-width: thick;
    width: 1000px;
    height: 500px;

}
#barraDeNavegacion{
    background-color: #E4BCD4;
    margin-bottom: 1.5rem;
}
#Destacados{
    margin-top: 4rem;
}
footer{
    background-color: #E4BCD4;
    margin-top: auto;
}
footer a img{
    background-color: #ac2bac;
    width: 50px;
}
#Sobre h4{
    margin-top: 1.5rem;
    font-size:30px;
}
#Sobre p{
    margin-top: 3rem;
    font-size: 18px;
}
.tabla{
    margin-top: 0;
}
.tabla h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.tabla th{
    font-size: 23px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    border-color: #ac2bac;
    border-width: 2px;
}
.tabla td{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 50;
    text-align: justify;
    border-color: #E4BCD4;
    border-width: 2px;
}
.card{
    border-color: #ac2bac;
    border-width: 0.5em;
    border-radius: 5%;
}
.card img{
    border-radius: 3%;
}
#price{
    text-align: center;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ac2bac;
}
#tituloCard h2{
    text-align: center;
    font-size: 80px;
    color: #ee8ee1;
    font-family: 'Rock Salt', cursive;
}
#parrafoCard p{
    text-align: center;
    font-size: 18px;
    font-family: 'Mali', cursive;
    color: #000000;

}