{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static "css/estilo.css" %}">

    <title>Cajita Dulce</title>
  </head>
  <body>
    <!--NAVBAR -->
    <nav class="navbar navbar-expand-lg" id="barraDeNavegacion">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static "img/Logo Chiquito.png" %}" alt="Logo" id="logo">Cajita Dulce</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">Acerca de</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'search_contacts' %}">Lista de Contactos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contacto' %}">>Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container pb-2" id="bajoNav">
        <div class="row">
          <div class="col-sm-2">
            <img src="{% static "img/Logo Chiquito.png" %}" alt="Logo" id="logo2">
          </div>
          <div class="col-sm-10" id="titulo" >
            <h1>Trabajamos con dedicacion</h1>
          </div>
          <div class="col-sm-12">
            <p>Nuestros productos son 100% artesanales y fabricados con mucho cariño, buscamos llegar a tu paladar a base de dulzura y productos de buena calidad</p>  
          </div>
        </div> 
      
      </div>

    {% block body %}

    {% endblock body %}

    <footer class="text-center text-white">
        <!-- Grid container -->
        <div class="container container-fluid">
          <!-- Section: Social media -->
          <section class="mb-1">
            <!-- Instagram -->
            <a
              class="btn text-white btn-floating m-1"
              href="https://www.instagram.com/_cajitadulce/"
              role="button"
              target="_blank"
              ><img src="{% static "img/instragram.png" %}" alt="" />
            </a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container --> 
  
        <!-- Copyright -->
        <div class="text-center text-black p-3">© 2022 Copyright:</div>
      </footer>
  
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</html>