{% extends 'base.html' %}


{% block body %}

{% for Producto in product_information %}
<div class="container text-center">
    <div class="row">
      <div class="col">
        {% comment %} {{Producto.image}} {% endcomment %}
        {{Producto.name}}
        {{Producto.description}}
      </div>
      <div class="col">
        {% comment %} {{Producto.image}} {% endcomment %}
        {{Producto.name}}
        {{Producto.description}}
      </div>
      <div class="col">
        {% comment %} {{Producto.image}} {% endcomment %}
        {{Producto.name}}
        {{Producto.description}}
      </div>
    </div>
  </div>
  
      
  {% endfor %}



{% endblock body %}
