{% extends 'base.html' %}


{% block body %}
<div class="container justify">
    <div class="row">
    {% for product in product_information %}

      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <p class="card-text">{{product.description}}</p>
            </div>
          </div>
         
      </div>
   
      {% endfor %}
    </div>
</div>
    


{% endblock body %}
