{% extends 'base.html' %}

{% block body %}

    <div class="container-mt3">
        <div class="row">
            <div class "col col-sm-auto col-md-10 m-5">
                <h1>Lista de contactos<h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Primer Nombre</th>
                            <th>Segundo Nombre</th>
                            <th>Primer Apellido</th>
                            <th>Segundo Apellido</th>
                            <th>Email</th>
                            <th>Número Telefónico</th>
                           

                        </tr>
                    </thead>
                    <tbody>
                        {% for person in contact_information %}
                        <tr>
                            <td>{{person.first_name}}</td>
                            <td>{{person.second_name}}</td>
                            <td>{{person.first_last_name}}</td>
                            <td>{{person.second_last_name}}</td>
                            <td>{{person.email_adress}}</td>
                            <td>{{person.full_phone_number}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>    
{% endblock body %}
